.title{
    color: #5496ff;
    font-family: 'Merienda', cursive;
    font-size: 35px;
    text-shadow: 2px 2px black;
    -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;
    border: 40px black;
}
.title2{
    color: black;
    font-family: 'Merienda', cursive;
    font-size: 20px;

    
    border: 40px black;
}